<h1>Your Cart</h1>



<table class="cart">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
  </tr>
  </thead>

  <tbody>
    <%= render @cart.line_items %>
  </tbody>


</table>
<%= button_to 'Empty Cart', cart_path,
              method: :delete,
              remote: true,
              data: {:confirm => 'Are you sure?'} %>
