<h1>Welcome to our Online Store</h1>

<span class="cart">
  <%= link_to "View Cart (#{cart_item_count(@cart)})", cart_path %>
</span>
<%= will_paginate @products %>

<table class="products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>

<%= will_paginate @products %>
