<h1>Welcome to our Online Store!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Price</th>
  </tr>

  <%= render @products %>

</table>

<%= will_paginate @products %>
